body {
    background-color: #E1E5F2;
}

.navbar-brand, .timer-display {
    font-family:"VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.centered-div {
    margin: auto;
}
